.footer__link {
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
    padding-right: 18px;
    transition: .3s;
}

.footer__link:hover {
    opacity: .8;
}

.footer__links :last-of-type .footer__link {
    padding-right: 0;
}

@media screen and (max-width: 704px) {
  .footer__link {
    font-size: 24px;
  }
}